.body-visitanos {
    background: linear-gradient(rgba(253, 246, 227, 0.9), rgba(253, 246, 227, 0.9)),
        url('../img/galeriafondo.PNG') no-repeat center center fixed;
    background-size: cover;
}

.grid-visitanos {
    background: white;
    border-radius: 20px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
}